appdirs==1.4.3
Authomatic==0.1.0.post1
blinker==1.4
boto3==1.14.59
botocore==1.4.93
click==6.7
docutils==0.13.1
flake8==3.3.0
Flask==0.10.1
Flask-Boto3==0.2.2
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.0
mccabe==0.6.1
packaging==16.8
pkg-resources==0.0.0
pycodestyle==2.5.0
pyflakes==1.5.0
pyparsing==2.4.6
python-dateutil==2.6.0
six==1.10.0
SQLAlchemy==1.1.9
Werkzeug==0.12.1
