<header>
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper">
            <a href="{{ url_for("home.index") }}" class="brand-logo center">Nest</a>
            <a href="#" data-activates="slide-out" class="button-collapse hide-on-large"><i class="material-icons">menu</i></a>
            {% if current_user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for("home.index") }}"><i class="material-icons left">cloud_upload</i>Send a file</a></li>
                <li><a href="{{ url_for("home.list_uploaded_files") }}"><i class="material-icons left">folder_open</i>My files</a></li>
                <li>
                    <a href="{{ url_for('login.logout') }}" title="Logout">
                        <i class="material-icons right">power_settings_new</i>
                        {{ current_user.first_name }}</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
</header>
{% include '_sidenav.html' %}