<ul id="slide-out" class="side-nav">
    <li><div class="userView" style="min-height: 10em;">
      <div class="background">
        <img src="{{ url_for('static', filename='images/office.jpg') }}">
      </div>
        {% if current_user.is_authenticated %}
      <a href="#!user"><img class="circle" src="{{ current_user.picture }}"></a>
      <a href="#!name"><span class="white-text name">{{ current_user.username }}</span></a>
      <a href="#!email"><span class="white-text email">{{ current_user.email }}</span></a>
        {% endif %}
    </div></li>
    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for("home.index") }}"><i class="material-icons">cloud_upload</i>Upload a file</a></li>
        <li><a href="{{ url_for("home.list_uploaded_files") }}"><i class="material-icons">folder_open</i>My files</a></li>
        <li><div class="divider"></div></li>
        <li><a href="{{ url_for('login.logout') }}"><i class="material-icons">power_settings_new</i>Logout</a></li>
    {% else %}
        <li><a href="{{ url_for('login.login') }}"><i class="material-icons">power_settings_new</i>Login</a></li>
    {% endif %}
  </ul>